In [170]:
import pandas as pd

In [171]:
df = pd.read_csv("yahoo_stock_data.csv")

In [172]:
df.head()

,Ticker,AXISBANK.NS,AXISBANK.NS.1,AXISBANK.NS.2,AXISBANK.NS.3,AXISBANK.NS.4,WIPRO.NS,WIPRO.NS.1,WIPRO.NS.2,WIPRO.NS.3,...,TMCV.NS,TMCV.NS.1,TMCV.NS.2,TMCV.NS.3,TMCV.NS.4,LT.NS,LT.NS.1,LT.NS.2,LT.NS.3,LT.NS.4
0,Price,Open,High,Low,Close,Volume,Open,High,Low,Close,...,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-01,1093.221182919986,1102.2065625056298,1091.2244319009542,1095.916748046875,4083732,226.93490462673097,231.97257164275777,224.67994305813244,228.9259796142578,...,NaN,NaN,NaN,NaN,NaN,3477.968451638937,3477.968451638937,3436.730292587616,3465.63134765625,777080
3,2024-01-02,1093.3210915732434,1097.5641878592241,1080.5419570586787,1091.47412109375,7895577,229.33379426235723,229.33379426235723,222.76083237767295,225.11175537109375,...,NaN,NaN,NaN,NaN,NaN,3465.2382880568675,3465.6314050038186,3373.7670784461066,3379.763671875,1511464
4,2024-01-03,1089.2277993642253,1100.8089321599628,1079.5436046173127,1096.8154296875,10225290,222.56892005886235,222.56892005886235,218.29890053712677,218.73069763183594,...,NaN,NaN,NaN,NaN,NaN,3374.7502018567843,3407.042911934397,3353.7134046664887,3381.9755859375,1283859

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ticker           499 non-null    object
 1   AXISBANK.NS      498 non-null    object
 2   AXISBANK.NS.1    498 non-null    object
 3   AXISBANK.NS.2    498 non-null    object
 4   AXISBANK.NS.3    498 non-null    object
 5   AXISBANK.NS.4    498 non-null    object
 6   WIPRO.NS         498 non-null    object
 7   WIPRO.NS.1       498 non-null    object
 8   WIPRO.NS.2       498 non-null    object
 9   WIPRO.NS.3       498 non-null    object
 10  WIPRO.NS.4       498 non-null    object
 11  INFY.NS          498 non-null    object
 12  INFY.NS.1        498 non-null    object
 13  INFY.NS.2        498 non-null    object
 14  INFY.NS.3        498 non-null    object
 15  INFY.NS.4        498 non-null    object
 16  TCS.NS           498 non-null    object
 17  TCS.NS.1         498 non-null    object
 18  TCS.NS.2         498 non-null    object
 19  TCS.NS.3         498 non-null    object
 20  TCS.NS.4         498 non-null    object
 21  ITC.NS           498 non-null    object
 22  ITC.NS.1         498 non-null    object
 23  ITC.NS.2         498 non-null    object
 24  ITC.NS.3         498 non-null    object
 25  ITC.NS.4         498 non-null    object
 26  ONGC.NS          498 non-null    object
 27  ONGC.NS.1        498 non-null    object
 28  ONGC.NS.2        498 non-null    object
 29  ONGC.NS.3        498 non-null    object
 30  ONGC.NS.4        498 non-null    object
 31  HINDUNILVR.NS    498 non-null    object
 32  HINDUNILVR.NS.1  498 non-null    object
 33  HINDUNILVR.NS.2  498 non-null    object
 34  HINDUNILVR.NS.3  498 non-null    object
 35  HINDUNILVR.NS.4  498 non-null    object
 36  HDFCBANK.NS      498 non-null    object
 37  HDFCBANK.NS.1    498 non-null    object
 38  HDFCBANK.NS.2    498 non-null    object
 39  HDFCBANK.NS.3    498 non-null    object
 40  HDFCBANK.NS.4    498 non-null    object
 41  NESTLEIND.NS     498 non-null    object
 42  NESTLEIND.NS.1   498 non-null    object
 43  NESTLEIND.NS.2   498 non-null    object
 44  NESTLEIND.NS.3   498 non-null    object
 45  NESTLEIND.NS.4   498 non-null    object
 46  RELIANCE.NS      498 non-null    object
 47  RELIANCE.NS.1    498 non-null    object
 48  RELIANCE.NS.2    498 non-null    object
 49  RELIANCE.NS.3    498 non-null    object
 50  RELIANCE.NS.4    498 non-null    object
 51  BPCL.NS          498 non-null    object
 52  BPCL.NS.1        498 non-null    object
 53  BPCL.NS.2        498 non-null    object
 54  BPCL.NS.3        498 non-null    object
 55  BPCL.NS.4        498 non-null    object
 56  ULTRACEMCO.NS    498 non-null    object
 57  ULTRACEMCO.NS.1  498 non-null    object
 58  ULTRACEMCO.NS.2  498 non-null    object
 59  ULTRACEMCO.NS.3  498 non-null    object
 60  ULTRACEMCO.NS.4  498 non-null    object
 61  ICICIBANK.NS     498 non-null    object
 62  ICICIBANK.NS.1   498 non-null    object
 63  ICICIBANK.NS.2   498 non-null    object
 64  ICICIBANK.NS.3   498 non-null    object
 65  ICICIBANK.NS.4   498 non-null    object
 66  TMCV.NS          37 non-null     object
 67  TMCV.NS.1        37 non-null     object
 68  TMCV.NS.2        37 non-null     object
 69  TMCV.NS.3        37 non-null     object
 70  TMCV.NS.4        37 non-null     object
 71  LT.NS            498 non-null    object
 72  LT.NS.1          498 non-null    object
 73  LT.NS.2          498 non-null    object
 74  LT.NS.3          498 non-null    object
 75  LT.NS.4          498 non-null    object
dtypes: object(76)
memory usage: 296.4+ KB

In [174]:
df.columns

Index(['Ticker', 'AXISBANK.NS', 'AXISBANK.NS.1', 'AXISBANK.NS.2',
       'AXISBANK.NS.3', 'AXISBANK.NS.4', 'WIPRO.NS', 'WIPRO.NS.1',
       'WIPRO.NS.2', 'WIPRO.NS.3', 'WIPRO.NS.4', 'INFY.NS', 'INFY.NS.1',
       'INFY.NS.2', 'INFY.NS.3', 'INFY.NS.4', 'TCS.NS', 'TCS.NS.1', 'TCS.NS.2',
       'TCS.NS.3', 'TCS.NS.4', 'ITC.NS', 'ITC.NS.1', 'ITC.NS.2', 'ITC.NS.3',
       'ITC.NS.4', 'ONGC.NS', 'ONGC.NS.1', 'ONGC.NS.2', 'ONGC.NS.3',
       'ONGC.NS.4', 'HINDUNILVR.NS', 'HINDUNILVR.NS.1', 'HINDUNILVR.NS.2',
       'HINDUNILVR.NS.3', 'HINDUNILVR.NS.4', 'HDFCBANK.NS', 'HDFCBANK.NS.1',
       'HDFCBANK.NS.2', 'HDFCBANK.NS.3', 'HDFCBANK.NS.4', 'NESTLEIND.NS',
       'NESTLEIND.NS.1', 'NESTLEIND.NS.2', 'NESTLEIND.NS.3', 'NESTLEIND.NS.4',
       'RELIANCE.NS', 'RELIANCE.NS.1', 'RELIANCE.NS.2', 'RELIANCE.NS.3',
       'RELIANCE.NS.4', 'BPCL.NS', 'BPCL.NS.1', 'BPCL.NS.2', 'BPCL.NS.3',
       'BPCL.NS.4', 'ULTRACEMCO.NS', 'ULTRACEMCO.NS.1', 'ULTRACEMCO.NS.2',
       'ULTRACEMCO.NS.3', 'ULTRACEMCO.NS.4', 'ICICIBANK.NS', 'ICICIBANK.NS.1',
       'ICICIBANK.NS.2', 'ICICIBANK.NS.3', 'ICICIBANK.NS.4', 'TMCV.NS',
       'TMCV.NS.1', 'TMCV.NS.2', 'TMCV.NS.3', 'TMCV.NS.4', 'LT.NS', 'LT.NS.1',
       'LT.NS.2', 'LT.NS.3', 'LT.NS.4'],
      dtype='object')

In [175]:
df.rename(columns={'Ticker': 'Date'}, inplace=True)

In [176]:
df = df[~df['Date'].isin(['Price', 'Date'])].copy()
df.dropna(how='all', inplace=True)

In [177]:
price_types = ['Open', 'High', 'Low', 'Close', 'Volume']
new_columns = []

for col in df.columns:
    if col == 'Date':
        new_columns.append('Date')
    elif '.NS' in col:
        # Extract the ticker symbol (e.g., RELIANCE.NS)
        base = col.split('.NS')[0] + '.NS'
        # Extract the suffix (.1, .2, etc.)
        suffix = col.split('.')[-1]
        
        if suffix.isdigit():
            # Match the digit to the price_types list
            idx = int(suffix)
            new_columns.append(f"{price_types[idx]}_{base}")
        else:
            # The column with no digit is the 'Open' price
            new_columns.append(f"{price_types[0]}_{base}")
    else:
        new_columns.append(col)

df.columns = new_columns

In [178]:
df.columns

Index(['Date', 'Open_AXISBANK.NS', 'High_AXISBANK.NS', 'Low_AXISBANK.NS',
       'Close_AXISBANK.NS', 'Volume_AXISBANK.NS', 'Open_WIPRO.NS',
       'High_WIPRO.NS', 'Low_WIPRO.NS', 'Close_WIPRO.NS', 'Volume_WIPRO.NS',
       'Open_INFY.NS', 'High_INFY.NS', 'Low_INFY.NS', 'Close_INFY.NS',
       'Volume_INFY.NS', 'Open_TCS.NS', 'High_TCS.NS', 'Low_TCS.NS',
       'Close_TCS.NS', 'Volume_TCS.NS', 'Open_ITC.NS', 'High_ITC.NS',
       'Low_ITC.NS', 'Close_ITC.NS', 'Volume_ITC.NS', 'Open_ONGC.NS',
       'High_ONGC.NS', 'Low_ONGC.NS', 'Close_ONGC.NS', 'Volume_ONGC.NS',
       'Open_HINDUNILVR.NS', 'High_HINDUNILVR.NS', 'Low_HINDUNILVR.NS',
       'Close_HINDUNILVR.NS', 'Volume_HINDUNILVR.NS', 'Open_HDFCBANK.NS',
       'High_HDFCBANK.NS', 'Low_HDFCBANK.NS', 'Close_HDFCBANK.NS',
       'Volume_HDFCBANK.NS', 'Open_NESTLEIND.NS', 'High_NESTLEIND.NS',
       'Low_NESTLEIND.NS', 'Close_NESTLEIND.NS', 'Volume_NESTLEIND.NS',
       'Open_RELIANCE.NS', 'High_RELIANCE.NS', 'Low_RELIANCE.NS',
       'Close_RELIANCE.NS', 'Volume_RELIANCE.NS', 'Open_BPCL.NS',
       'High_BPCL.NS', 'Low_BPCL.NS', 'Close_BPCL.NS', 'Volume_BPCL.NS',
       'Open_ULTRACEMCO.NS', 'High_ULTRACEMCO.NS', 'Low_ULTRACEMCO.NS',
       'Close_ULTRACEMCO.NS', 'Volume_ULTRACEMCO.NS', 'Open_ICICIBANK.NS',
       'High_ICICIBANK.NS', 'Low_ICICIBANK.NS', 'Close_ICICIBANK.NS',
       'Volume_ICICIBANK.NS', 'Open_TMCV.NS', 'High_TMCV.NS', 'Low_TMCV.NS',
       'Close_TMCV.NS', 'Volume_TMCV.NS', 'Open_LT.NS', 'High_LT.NS',
       'Low_LT.NS', 'Close_LT.NS', 'Volume_LT.NS'],
      dtype='object')

In [179]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by='Date', inplace=True)
df.fillna(method='ffill', inplace=True)

C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\442472072.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [180]:
cols_to_fix = df.columns.drop('Date')
df[cols_to_fix] = df[cols_to_fix].apply(pd.to_numeric, errors='coerce')

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 2 to 498
Data columns (total 76 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  497 non-null    datetime64[ns]
 1   Open_AXISBANK.NS      497 non-null    float64
 2   High_AXISBANK.NS      497 non-null    float64
 3   Low_AXISBANK.NS       497 non-null    float64
 4   Close_AXISBANK.NS     497 non-null    float64
 5   Volume_AXISBANK.NS    497 non-null    int64
 6   Open_WIPRO.NS         497 non-null    float64
 7   High_WIPRO.NS         497 non-null    float64
 8   Low_WIPRO.NS          497 non-null    float64
 9   Close_WIPRO.NS        497 non-null    float64
 10  Volume_WIPRO.NS       497 non-null    int64
 11  Open_INFY.NS          497 non-null    float64
 12  High_INFY.NS          497 non-null    float64
 13  Low_INFY.NS           497 non-null    float64
 14  Close_INFY.NS         497 non-null    float64
 15  Volume_INFY.NS        497 non-null    int64
 16  Open_TCS.NS           497 non-null    float64
 17  High_TCS.NS           497 non-null    float64
 18  Low_TCS.NS            497 non-null    float64
 19  Close_TCS.NS          497 non-null    float64
 20  Volume_TCS.NS         497 non-null    int64
 21  Open_ITC.NS           497 non-null    float64
 22  High_ITC.NS           497 non-null    float64
 23  Low_ITC.NS            497 non-null    float64
 24  Close_ITC.NS          497 non-null    float64
 25  Volume_ITC.NS         497 non-null    int64
 26  Open_ONGC.NS          497 non-null    float64
 27  High_ONGC.NS          497 non-null    float64
 28  Low_ONGC.NS           497 non-null    float64
 29  Close_ONGC.NS         497 non-null    float64
 30  Volume_ONGC.NS        497 non-null    int64
 31  Open_HINDUNILVR.NS    497 non-null    float64
 32  High_HINDUNILVR.NS    497 non-null    float64
 33  Low_HINDUNILVR.NS     497 non-null    float64
 34  Close_HINDUNILVR.NS   497 non-null    float64
 35  Volume_HINDUNILVR.NS  497 non-null    int64
 36  Open_HDFCBANK.NS      497 non-null    float64
 37  High_HDFCBANK.NS      497 non-null    float64
 38  Low_HDFCBANK.NS       497 non-null    float64
 39  Close_HDFCBANK.NS     497 non-null    float64
 40  Volume_HDFCBANK.NS    497 non-null    int64
 41  Open_NESTLEIND.NS     497 non-null    float64
 42  High_NESTLEIND.NS     497 non-null    float64
 43  Low_NESTLEIND.NS      497 non-null    float64
 44  Close_NESTLEIND.NS    497 non-null    float64
 45  Volume_NESTLEIND.NS   497 non-null    int64
 46  Open_RELIANCE.NS      497 non-null    float64
 47  High_RELIANCE.NS      497 non-null    float64
 48  Low_RELIANCE.NS       497 non-null    float64
 49  Close_RELIANCE.NS     497 non-null    float64
 50  Volume_RELIANCE.NS    497 non-null    int64
 51  Open_BPCL.NS          497 non-null    float64
 52  High_BPCL.NS          497 non-null    float64
 53  Low_BPCL.NS           497 non-null    float64
 54  Close_BPCL.NS         497 non-null    float64
 55  Volume_BPCL.NS        497 non-null    int64
 56  Open_ULTRACEMCO.NS    497 non-null    float64
 57  High_ULTRACEMCO.NS    497 non-null    float64
 58  Low_ULTRACEMCO.NS     497 non-null    float64
 59  Close_ULTRACEMCO.NS   497 non-null    float64
 60  Volume_ULTRACEMCO.NS  497 non-null    int64
 61  Open_ICICIBANK.NS     497 non-null    float64
 62  High_ICICIBANK.NS     497 non-null    float64
 63  Low_ICICIBANK.NS      497 non-null    float64
 64  Close_ICICIBANK.NS    497 non-null    float64
 65  Volume_ICICIBANK.NS   497 non-null    int64
 66  Open_TMCV.NS          36 non-null     float64
 67  High_TMCV.NS          36 non-null     float64
 68  Low_TMCV.NS           36 non-null     float64
 69  Close_TMCV.NS         36 non-null     float64
 70  Volume_TMCV.NS        36 non-null     float64
 71  Open_LT.NS            497 non-null    float64
 72  High_LT.NS            497 non-null    float64
 73  Low_LT.NS             497 non-null    float64
 74  Close_LT.NS           497 non-null    float64
 75  Volume_LT.NS          497 non-null    int64
dtypes: datetime64[ns](1), float64(61), int64(14)
memory usage: 299.0 KB

In [182]:
stocks = ['HDFCBANK.NS', 'ICICIBANK.NS', 'AXISBANK.NS', 'TCS.NS', 'INFY.NS', 'WIPRO.NS', 'RELIANCE.NS', 
    'ONGC.NS', 'BPCL.NS', 'TMCV.NS', 'LT.NS', 'ULTRACEMCO.NS', 'HINDUNILVR.NS', 'ITC.NS', 'NESTLEIND.NS']

for stock in stocks:
    df[f'Daily_Return_{stock}'] = df[f'Close_{stock}'].pct_change()

for stock in stocks:
    df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)

C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)
C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)
C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)
C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)
C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)
C:\Users\Satvik\AppData\Local\Temp\ipykernel_6508\1418043906.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'PnL_{stock}'] = df[f'Daily_Return_{stock}'] * df[f'Close_{stock}'].shift(1)

In [183]:
sector_map = {
    "HDFCBANK.NS": "Banking", "ICICIBANK.NS": "Banking", "AXISBANK.NS": "Banking",
    "TCS.NS": "IT", "INFY.NS": "IT", "WIPRO.NS": "IT",
    "RELIANCE.NS": "Energy", "ONGC.NS": "Energy", "BPCL.NS": "Energy",
    "TMCV.NS": "Manufacturing", "LT.NS": "Manufacturing", "ULTRACEMCO.NS": "Manufacturing",
    "HINDUNILVR.NS": "FMCG", "ITC.NS": "FMCG", "NESTLEIND.NS": "FMCG"
}

In [184]:
stocks = sorted(
    set(col.replace('Close_', '') for col in df.columns if col.startswith('Close_'))
)

In [185]:
long_data = []

for stock in stocks:
    temp = pd.DataFrame({
        'Date': df['Date'],
        'Stock': stock,
        'Sector': sector_map.get(stock),
        'Open': df[f'Open_{stock}'],
        'High': df[f'High_{stock}'],
        'Low': df[f'Low_{stock}'],
        'Close': df[f'Close_{stock}'],
        'Volume': df[f'Volume_{stock}'],
        'Daily_Return': df.get(f'Daily_Return_{stock}'),
        'PnL': df.get(f'PnL_{stock}')
    })
    
    long_data.append(temp)

final_df = pd.concat(long_data, ignore_index=True)

In [186]:
final_df.sort_values(['Stock', 'Date'], inplace=True)
final_df.reset_index(drop=True, inplace=True)

In [187]:
final_df = final_df.dropna(subset=['Close'])

In [188]:
final_df.head()

,Date,Stock,Sector,Open,High,Low,Close,Volume,Daily_Return,PnL
0,2024-01-01,AXISBANK.NS,Banking,1093.221183,1102.206563,1091.224432,1095.916748,4083732.0,NaN,NaN
1,2024-01-02,AXISBANK.NS,Banking,1093.321092,1097.564188,1080.541957,1091.474121,7895577.0,-0.004054,-4.442627
2,2024-01-03,AXISBANK.NS,Banking,1089.227799,1100.808932,1079.543605,1096.815430,10225290.0,0.004894,5.341309
3,2024-01-04,AXISBANK.NS,Banking,1101.208308,1128.164450,1098.263149,1121.575195,11411683.0,0.022574,24.759766
4,2024-01-05,AXISBANK.NS,Banking,1122.174233,1138.048431,1117.182355,1135.103149,8025466.0,0.012062,13.527954

In [189]:
final_df.to_csv("cleaned_yahoo_stock_data.csv", index=False)